<header class="header">
  <nav class="navbar navbar-expand-lg navbar-warning bg-warning static-top border-bottom">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img class="logo-img" src="/img/logo.jpg" alt="">
        <h1 class="logo-txt">Polland</h1>
      </a>
    </div>
  </nav>
</header>