<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">



    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">

        <!-- internal css -->

        <link rel="stylesheet" href="/css/confrim.css" type="text/css" />
        <link rel="stylesheet" href="/css/style.css" type="text/css" />
        <!-- <link rel="stylesheet" href="../css/confrim.css" type="text/css" /> -->
    <!-- jquery cdm link -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>



    <title>Polland</title>


</head>

<body>
    <% include ./partials/_header %>
    <section>
            <h1 id="confrimTitle">Poll Confirmed!</h1>
        <div>
            <p> Congratulations, your poll has been successfully rendered! </p>
            <p> An email has been sent to your the email address with an
                link only you'll be able to containing a
                link where you will be able to view the results!</p>
            <p>Another email was sent to your friends email addresses you
                provided where they will be able to vote! </p>
            <p id="thnks"> Thanks for using Polland!</p>
        </div>
    </section>
    <a href="/"> <button id="newChartButt" class="butt" type="button">Create another!</button></a>
</body>

</html>