<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
            <!-- External CSS -->
            <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">

            <!-- APP CSS -->
            <link rel="stylesheet" href="/css/style.css" type="text/css" />
            <link rel="stylesheet" href="/css/confrim.css" type="text/css" />
            <link rel="stylesheet" href="/css/layout.css" type="text/css" />

            <!-- jquery cdm link -->
            <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous">
            </script>
            <!-- <script type="text/javascript" src="/js/toggle.js"></script> -->
            <script type="text/javascript" src="/js/create_poll.js"></script>

            <title>
                New Poll
            </title>
        </meta>
    </head>

<body>
    <% include ./partials/_header %>

    <div class="container my-5">
        <div class="row justify-content-md-center">
            <div class="col col-lg-12">
                <h3 class="m-auto">CREATE YOUR POLL</h3>
                <form action="/pollcreate" method="POST">

                    <div class="form-group my-3">
                        <h6>QUESTION</h6>
                        <input type="text" class="form-control" name="pollquestion" id="pollTopic" placeholder="What's on your mind?">
                    </div>

                    <h6>OPTIONS</h6>
                    <div class="input-group control-group my-2">
                        <input type="text" name="poll_opt" class="form-control col-lg-4" placeholder="Option">
                        <input type="text" name="opt_des" class="form-control col-lg-8" placeholder="Description (optional)">
                    </div>

                    <div class="input-group control-group after-add-more">
                        <input type="text" name="poll_opt" class="form-control col-lg-4" placeholder="Option">
                        <input type="text" name="opt_des" class="form-control col-lg-8" placeholder="Description (optional">
                        <div class="input-group-btn">
                            <button class="btn btn-warning add-more" type="button"><strong>+</strong></button>
                        </div>
                    </div>

                    <div class="input-group justify-content-md-center my-4">
                        <h4>FRIENDS</h4>
                        <div class="input-group email-group justify-content-md-center after-add-more-friend my-2">
                            <input type="email" name="send_to" class="form-control col-lg-4" placeholder="Email">
                            <div class="input-group-btn">
                                <button class="btn btn-warning add-more-friend" type="button"><strong>+</strong></button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="justify-content-md-center m-auto">
                            <button type="submit" class="btn btn-warning float-right">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!--     <section id="main">
        <h2 id="title">Create A Poll</h2>
        <div id="form">
            <form class="form-inline" action="/poll/create" method="POST">
                <div id="error1" class="errorBanner"><p>WHOOPS, you've forgotten to enter a topic for your poll!</p>
                </div>

                <input id="pollTopic" class="pollinfo" type="text" name="poll" placeholder="whats on your mind?">

                <div id="error2" class="errorBanner"><p>OPPS, you need to include at least 2 options for you poll!</p>
                </div>

                <input id="option1" class="pollinfo" type="text" name="polloption_1" placeholder="option 1..">
                <input id="discription1" class="pollinfo" type="text" name="polloption_1_discription" placeholder="discription..">
                <button id="disBut1" class="discriptionBut" type="button">Discription</button>
                <input id="option2" class="pollinfo" type="text" name="polloption_2" placeholder="option 2..">
                <input id="discription2" class="pollinfo" type="text" name="polloption_2_discription" placeholder="disctiption..">
                <button id="disBut2" class="discriptionBut" type="button">discription</button>
                <input class="pollinfo" type="text" name="polloption_3" placeholder="option 3..">
                <input id="discription3" class="pollinfo" type="text" name="polloption_3_discription" placeholder="discription..">
                <button id="disBut3" class="discriptionBut" type="button">discription</button>
                <input class="pollinfo" type="text" name="polloption_4" placeholder="option 4..">
                <input id="discription4" class="pollinfo" type="text" name="polloption_4__discription" placeholder="discription..">
                <button id="disBut4" class="discriptionBut" type="button">discription</button>

                <input id="inputEmail" type="email" class="pollinfo" placeholder="your @ here!" name="poll_email">
                <input id="inputEmail2" type="email" class="pollinfo" placeholder="your @ here!" name="poll_email">
                <input id="inputEmail3" type="email" class="pollinfo" placeholder="your @ here!" name="poll_email">
                <button id="emailButt" class="discriptionBut" type="button">Extra Email?</button>

                 <button id="emailbuttion" -->
<!--                <div id="submitDiv"><input id="subBut" type="submit" class="btn btn-primary" value="submit"></div>
                <div id="error3" class="errorBanner"><p>WAIT!! you fogot to include an email addresses!</p></div>

            </form>
        </div>
    </section> -->
</body>

</html>
