<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
            <!-- External CSS -->
            <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">

            <!-- APP CSS -->
            <link rel="stylesheet" href="/css/style.css" type="text/css" />
            <!-- <link rel="stylesheet" href="/css/confrim.css" type="text/css" /> -->
            <!-- <link rel="stylesheet" href="/css/layout.css" type="text/css" /> -->

            <!-- jquery cdm link -->
            <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous">
            </script>
            <!-- <script type="text/javascript" src="/js/toggle.js"></script> -->
            <script type="text/javascript" src="/js/create_poll.js"></script>

            <title>
                New Poll
            </title>
        </meta>
    </head>

<body>
    <% include ./partials/_header %>
<div class="container-fluid form-poll py-5">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-12">
                <h3 class="m-auto font-weight-bold text-warning">CREATE YOUR POLL</h3>
                <form action="/pollcreate/<%= creatorID %>" method="POST">

                    <div class="form-group my-3">
                        <h6 class="font-weight-bold text-warning">QUESTION</h6>
                        <input type="text" id="input" class="form-control" name="pollquestion" id="pollTopic" placeholder="What's on your mind?">
                    </div>

                    <h6 class="font-weight-bold text-warning">OPTIONS</h6>
                    <div class="input-group control-group my-2">
                        <input type="text" name="poll_opt" id="input" class="form-control col-lg-4 mr-1" placeholder="Option">
                        <input type="text" name="opt_des" class="form-control col-lg-8" placeholder="Description (optional)">
                    </div>

                    <div class="input-group control-group after-add-more">
                        <input type="text" name="poll_opt" id="input" class="form-control col-lg-4 mr-1" placeholder="Option">
                        <input type="text" name="opt_des" class="form-control col-lg-8" placeholder="Description (optional">
                        <div class="input-group-btn">
                            <button class="btn btn-warning add-more" type="button"><strong>+</strong></button>
                        </div>
                    </div>

                    <div class="input-group justify-content-md-center my-4">
                        <h4 class="font-weight-bold text-warning">FRIENDS</h4>
                        <div class="input-group email-group justify-content-md-center after-add-more-friend my-2">
                            <input type="email" name="send_to" id="input" class="form-control col-lg-4" placeholder="Email">
                            <div class="input-group-btn">
                                <button class="btn btn-warning add-more-friend" type="button"><strong>+</strong></button>
                            </div>
                        </div>
                    </div>
<!--                     <script>
                        bootstrapValidate('#input', 'email:Enter a valid email address');
                    </script> -->
                    <div class="form-group">
                        <div class="justify-content-md-center m-auto">
                            <button type="submit" class="btn btn-warning float-right text-white">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>

</html>
