<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
            <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
                <title>
                    Document
                </title>
            </link>
        </meta>
    </head>
    <body>
        <% include ./partials/_header %>
        <div class="container">
            <h1 class="d-flex justify-content-center">
                Create your own Poll
            </h1>
            <form action="/getEmail" class="form-inline d-flex justify-content-center" method="POST">
                <div class="form-group mx-sm-3 mb-2">
                    <label class="sr-only" for="inputEmail">
                        Email
                    </label>
                    <input class="form-control" id="inputEmail" name="email" placeholder="Email" type="email">
                    </input>
                </div>
                <button class="btn btn-primary mb-2" type="submit">
                    Create
                </button>
            </form>
        </div>
    </body>

</html>