<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
  <% include ./partials/_header %>
  <div class="container">
    <h1 class="d-flex justify-content-center">Create your own Poll</h1>
    <form class="form-inline d-flex justify-content-center" action="/getEmail" method="POST">
      <div class="form-group mx-sm-3 mb-2">
        <label form="inputEmail" class="sr-only">Email</label>
        <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email">
      </div>
      <button type="submit" class="btn btn-primary mb-2">Create</button>
    </form>
  </div>
</body>
</html>