<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
            <meta content="initial-scale=1, maximum-scale=1" name="viewport">
                <link href="/css/ranking.css" rel="stylesheet">
                    <!-- Creating -->
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
                    </script>
                    <!-- Dragging -->
                    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js">
                    </script>
                    <script src="/js/ranking_drag.js">
                    </script>
                </link>
            </meta>
        </meta>
    </head>
    <body>
        <div class="wrapper clearfix">
            <form class="item">
                <input class="input" name="itemName" placeholder="Place to visit" type="text">
                    <input class="submit" type="submit" value="Add to list">
                        <div class="label">
                            <label for="heading">
                                <input class="heading" id="ckeckbox" name="heading" type="checkbox">
                                    Check to create a new heading
                                    <p>
                                        Rank the items in the list
                                    </p>
                                </input>
                            </label>
                        </div>
                    </input>
                </input>
            </form>
            <ul class="wishlist connected">
                <li class="heading">
                    This Year
                </li>
                <div class = "itemList">
                  <!-- add new list based on amount lists user created -->
                </div>
            </ul>
        </div>
    </body>
</html>
