<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
            <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
                <meta content="initial-scale=1, maximum-scale=1" name="viewport">
                    <link href="/css/ranking.css" rel="stylesheet">
                    <link rel="stylesheet" href="/css/style.css" type="text/css" />
                    <!-- Creating -->
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
                        </script>
                        <!-- Dragging -->
                        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js">
                        </script>
                        <script src="/js/ranking_drag.js">
                        </script>
                    </link>
                </meta>
            </link>
        </meta>
    </head>
    <body id="body">
        <main>
            <% include ./partials/_header.ejs %>
            <div class="wrapper">
            <div id="titleBox">    <h1 class="heading">
                    Your options
                </h1></div>
                <table>
                    <tr class="table">
                        <th class="headers">
                            Rank
                        </th>
                        <th class="headers">
                            Options
                        </th>
                    </tr>
                    <tr class="table">
                        <th>
                            <ul class="rank">
                            </ul>
                        </th>
                        <th>
                            <ul class="wishlist connected" id="ul1">
                            </ul>
                        </th>
                    </tr>
                </table>
            </div>
            <div id="submit">
                <button id="makeNewArray">
                    Submit
                </button>
            </div>
        </main>
    </body>
</html>
