<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">



    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <!-- internal css -->
    <link rel="stylesheet" href="/css/results.css" type="text/css" />

    <!-- jquery cdm link -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <!-- chart.js cdm link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js">
    </script>
    <!-- internal js -->
    <script type="text/javascript" src="/js/results.js"></script>


    <title>Results</title>


</head>

<body>
    <% include ./partials/_header %>
    <h1>Results</h1>
    <!--  -->
  





    <!--  -->
    <div id="cont" class="container">
        <canvas id='chart'></canvas>
        <canvas id='pieChart'></canvas>
        <canvas id='doughnutChart'></canvas>
        <canvas id='radarChart'></canvas>
        <canvas id='polarChart'></canvas>
  

    </div>
 <div id="buttonCon"> 
     <button id="barButton" class="butt" type="button">bar</button>
    <button id="pieButton" class="butt" type="button">pie</button>
    <button id="radarButton" class="butt" type="button">radar</button>
    <button id="doughnutButton" class="butt" type="button">doughnut</button>
    <button id="polarButton" class="butt" type="button">polar</button>
    </div>
</body>


</html>