
.butt {
     
        width: 19%;  
        padding: 2%;
        border: 2px solid #ffd864;
        border-radius: 6px;
        background: #ffc107;
        margin-left: 19%;
        margin-top: 1%;
        font-weight: bolder;
    }
    .butt:hover {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }
#cont {
    top: 8px;
left: 8px;
right: 8px;
bottom: 8px;
margin-left: 33%;
}

h2 {
    font-weight: 500;
    margin-left: 43.5%;
}

canvas {
    background-color: white;
    border-radius: 6px;
}

body {
    background-color: #fafafa;
    background-image: url(../img/poll_bg.png);
    background-size: cover;
    height: 90vh;
}